.btn{

	-moz-user-select:none;
	-ms-user-select:none;
	-webkit-user-select:none;
	background-color:none;
	border:none;
	cursor:pointer;
	display:inline-block;
	font-family: "ProximaNova-bold";
	font-size: 13px;
	outline:none;
	padding:0;
	text-align:center;
	text-decoration:none;
	&:hover{
		color:#000000;
		border:1px solid #000000;
		background-color:#ffffff;
		.btn__link{
			color:#ffffff;


		}
		.btn__icon{
			color:#ffffff;
		}
	}

	&:active{
		/* create feeling of clickable button*/
		box-shadow:inset 0px 0px 3px 3px rgba(0,0,0,.5);
		position:relative;
		top:1px;
	}

	&:focus{
		outline:none;
	}

	&::-moz-focus-inner {
		// remove button outline on firefox	
		border: 0 !important;
	}

	&_collapse{
		display:block;
		font-size:20px;
		height:35px;
		line-height:35px;
		margin-top:5px;
		border:1px solid #000000;
	}
	&_collapse:hover{
		background-color: #00a7ac;
		border:1px solid #00a7ac;
	}
	&_social{
		display:inline-block;
		width:49.3%;
	}
	&_green{
		background-color:#00a7ac;
		border:1px solid rgba(0,0,0,0);
		color:#ffffff;
		display:inline-block;
		height:45px;
		line-height: 45px;
		margin-bottom:40px;
		margin-right:11px;
		width:47%;
		font-weight: 700;
		transform: scaleY(1.0008);
		max-width:225px;

		font-size:16px;
	}
	&_orange{
		background-color:#00a7ac;
		border:1px solid rgba(0,0,0,0);
		color:#ffffff;
		display:inline-block;
		height:45px;
		line-height: 45px;
		width:47%;

		font-weight: 700;
		transform: scaleY(1.0008);
		max-width:225px;

		font-size:16px;

		background-color:  #ed9300;

	}
	&_last-posedli{
		margin-right:0px;
		margin-bottom:90px;
		font-family: "ProximaNova-bold" !important;
	}

	&_white{
		border:1px solid #000000;
		color:#000000;
		display:inline-block;
		height:45px;
		line-height: 45px;
		margin-bottom:40px;
		width:47%;

		font-size: 13px;
		font-weight: 700;
		max-width:225px;
	}
	&_white:hover{
		color:#ffffff;
		border:1px solid rgba(0,0,0,0);
		background-color:#00a7ac;
	}
	&__link{
		color:#9a9a9a;
		&_petr{
			max-width:130px;
		}
		&_terezie{
			max-width:150px;
		}
		&_yemi{
			max-width:80px;
		}
		&_dalsi{
			max-width:120px;
		}
		&_hight-light{
			font-family: "ProximaNova-bold" !important;
			color:#000000;
		}
	}

	&__icon{
		color:#000000;
		line-height:35px;
		font-size:18px;
		color:#686868;
		padding-left:8px;
		padding-right:8px;
		vertical-align: middle;
		cursor:pointer;
	}
	&_center{
		margin: 35px auto;
		display:block;
	}
}
// -----------------------------------------------------------------------------
@media (min-width:510px){
	.btn{
		&_collapse{
			display:inline-block;
			width:48%;
			margin:2px;

		}
	}
}
// ------------------------------------------------------------------------------
@media (min-width:800px){
	.btn{
		&:hover{
			.btn__link{
				color:#000000;
			}
			.btn__icon{
				color:#000000;
				font-weight: 900;
			}
		}
		&_collapse{
			display:inline-block;
			width:180px;
			font-size:13px;
			border:1px solid rgba(0,0,0,0);
		}
		&_collapse:hover{
			background-color: rgba(0,0,0,0);
			border:1px solid rgba(0,0,0,0);
		}
		&_social{
			width:30px;
			height:30px;
		}
		&_posedli{
			width:70px;
		}
		&_mini{
			width:70px;	
		}
		&_technologie{
			width:122px;
		}
		&_zkusebna-jizda{
			width:154px;
			background-color:#00a7ac;
			border:1px solid #00a7ac;
		}
		&_zkusebna-jizda:hover{
			border:1px solid #000000;
		}
		&__link{
			&_zkusebna{
				color:#ffffff;
			}
		}

		&__icon{
			line-height:30px;
		}
	}
}
