.logo{
	cursor: pointer;
	width:97px;
	height:43px;
	display:inline-block;
	&_footer{
		display:block;
		margin:0px  auto 10px auto;
	}
}

@media(min-width:800px){
	.logo{
		cursor: pointer;
		width:97px;
		height:43px;
		display:inline-block;


		&_footer{
			display:block;
			margin:-5px  auto 10px auto;

			float:left;
		}
	}	
}