.posedli-content{
	div,ul,li,a,img,section,nav,button,span,h1,h2,h3,p,form,i{
		// border:1px dashed red;
	}
	&__posedli-navigation{
		position:fixed;
		width:100%;
		z-index:9999;
		top:63px;
		transition: all 0.3s ease-in-out;
	}
	&_top{
		
		background-color:#ffffff;
	}
	&__list{
		margin:7px auto 0 auto;
		text-align:left;
		width:100%;
		background-color:#f9f9f9;
		max-width:1920px;

		&_posedli{
			position:fixed;
			top:53px;
			z-index:9999;
		}
		&_noMarginTop{
			margin-top:0;
		}
	}
	&__item{
		display:inline-block;
	}
	&__title{
		&_detail{
			color:#ffffff;
			font-size: 35px; 
			font-weight: 700;
			text-align:left;
			margin-bottom:10px;
		}
	}
	&_grey{
		background-color:#f9f9f9;
	}
	&_white{
		background-color:#ffffff;
	}

	&__paragraph{
		color: #000000;
		font-size: 12px; 	
		font-weight: 400;
		line-height: 26px; 
		text-align:left;
		&_last{

		}
		&_detail{
			color:#ffffff;
			font-size: 18px; 
			line-height: 28px;
			margin-bottom:19px;
			text-align:left;
		}
	}
	&__detail-container{
		background-position:center center;
		background-repeat:no-repeat;
		background-size:cover;
		height:610px;
		margin-bottom:10px;
		position:relative;
		text-align:left;
		overflow: hidden;
		transition: all 0.5s ease-in-out;

		&_first{
			background-image:url("../img/detail-01.png");
			background-position:center -250px;
		}
		&_second{
			background-image:url("../img/detail-02.png");
			height:359px;
		}
		&_third{
			background-image:url("../img/detail-03.png");
			height:359px;
			margin-bottom:0px;
		}
	}
	&__detail-text{
		width:455px;
		top:300px;
		left:13%;
		position:absolute;
	}
}





