.technologie-content{
	padding-top:61px;
	background-color:#f9f9f9;	
	&__title{
		font-size: 32px; 
		font-weight: 400;
		margin-bottom:11px;
		font-family: "MINISerif";
	}
	&__paragraph{
		font-family: "MINISerif";
		font-size: 20px; 
		font-weight: 400;
		line-height: 28px;
		margin:0 auto 30px auto;
		max-width:474px;
		&_first{
			text-align:center;
		}
		&_last{
			margin-top:40px;
		}
	}
}

// -----------------------------------------------------------------------
@media(min-width:800px){
	.technologie-content{
		padding-top:101px;
		&__title{
			padding-top:20px;
			&_margin-bottom{
				margin-bottom:56px;
			}
		}

		&__image{
			width:50%;
			display:inline-block;
			max-height:338px;
		}

		&__paragraph{
			text-align: left;
			max-width:474px;
			margin-left:0;
			&_first{
				text-align:center;
				margin: auto auto 85px auto;
				min-width:630px;
			}
			&_last{
				margin:80px auto 36px auto; 
				text-align:center;
				font-size:20px;
				min-width:690px;
			}
		}
	}
}

@media(min-width:1024px){
	.technologie-content{
		padding-top:101px;
		&__title{
			font-size: 42px; 
			&_left{
				text-align:left;
				padding-top:60px;
			}
		}
		&__paragraph{
			&_first{
				min-width:656px;
			}
		}
	}	
}

